sphinx-env
*.pyc
*.mo
*.swp
.DS_Store
Thumb.db
desktop.ini
*.*~
*~
/build
build/*
output
build.log
*.doctree
.doctrees/
live
.idea
virtualenv
source/i18n/*/conf.py
source/static/
venv
.venv
.vscode
.vscode-extensions
core
site
locale/en
.env